html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #344861;
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

@supports(padding: env(safe-area-inset-left)) {
    body {
        padding-top: env(safe-area-inset-top);
        padding-bottom: env(safe-area-inset-bottom);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }
}

.app-chrome{
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.page-show{
    display: flex !important;
}

.title-page{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    box-sizing: border-box;
}

.title-page span{
    max-width: 560px;
    font-size: 3.5rem;
}

.title-page button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    height: 80px;
    padding: 2rem;
    background-color: #5a7bc0;
    color: #ffffff;
    font-size: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.count-page{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.count-page span{
    color: #225aaf;
    font-size: 7rem;
}

.game-page{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 560px;
    width: 100%;
    box-sizing: border-box;
}

.header span{
    font-size: 2rem;
    color: #6e7c8c;
}

.header button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
}

.header img{
    width: 2rem;
    height: 2rem;
}

.question{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 560px;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
}

.question span{
    font-size: 3.5rem;
}

.display{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    width: 100%;
    height: 4rem;
    border: 1px solid #344861;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    box-sizing: border-box;
}

.display img{
    position:absolute;
    left: calc(50% - 3.5rem);
    display: none;
    width: 7rem;
    height: 7rem;
    margin: 0 !important;
}

.display img.show{
    display: block;
}

.actual-answer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    width: 100%;
    height: 2.5rem;
    color: #e55c6c;
    font-size: 2rem;
    line-height: 2rem;
    box-sizing: border-box;
}

.numpad{
    display: grid;
    max-width: 560px;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px 80px 80px;
    box-sizing: border-box;
}

.numpad button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #325aaf;
    background-color: #eaeef4;
    font-size: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.clear-button{
    grid-column: 4;
    grid-row: 2 / 5;
}

.enter-button{
    grid-column: 2 / 4;
    grid-row: 4;
    background-color: #5a7bc0 !important;
    color: #ffffff !important;
}

.result-page{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    box-sizing: border-box;
}

.result-page span{
    max-width: 560px;
    font-size: 3.5rem;
}

.result-page button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    height: 80px;
    padding: 2rem;
    background-color: #5a7bc0;
    color: #ffffff;
    font-size: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}
